@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background-color: #b0c4de;
        border-style: solid;
        border-width: 75px;
    }
</style>
<body>
    <div>
        <h1>
            <strong>About</strong>
        </h1>
        <div>
            <div>
                <p>I'm 27 years old. My name is Aaron DeSanctis. I love to program, play video games, and work hard.</p>
                <div>
                    <p>Much love and respect for my Gf, Mom, and My Daughter</p>
                </div>
            </div>
        </div>
    </div>
</body>