@{
    ViewBag.Title = "CompetitiveGames";
}

<style>
    body {
        background-color: #b0c4de;
        border-style: solid;
        border-width: 75px;
    }
</style>
<body>
    <div>
        <h1>
            <strong>Competitive Games</strong>
        </h1>
        <div>
            <h2>Mortal Kombat 9</h2>
            <div>
                <h2>Dota 1</h2>
                <div>
                    <h2>Chess</h2>
                    <div>
                        <h2>Magic:The Gathering (draft, sealed, standard, modern, edh)</h2>
                        <div>
                            <h2>Halo 3</h2>
                            <div>
                                <h2>Modern Warfare (1 and 2)</h2>
                                <div>
                                    <h2>Destiny</h2>
                                    <div>
                                        <h2>Soul Calibur (2, 4)</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
