@{
    ViewBag.Title = "l3rainst0rm Contact Information";
}
<h1>
    <strong>Contact</strong>
</h1>
<style>
    body {
        background-color: #b0c4de;
        border-style: solid;
        border-width: 75px;
    }
</style>
<body>
</body>
<address>
    321 Marquette Ave<br />
    South Milwaukee, WI 53217<br />
    <abbr title="Phone">P:</abbr>
    414-553-0741
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:Vada_Overlord@Hotmail.com">Vada_Overlord@Hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Vada_Overlord@Hotmail.com">Vada_Overlord@Hotmail.com</a>
</address>
