@{
    ViewBag.Title = "FavoriteGames";
}
<style>
    body {
    background-color: #b0c4de;
    border-style: solid; 
    border-width: 75px;
    }
</style>
<body>
    <div>
        <h1>
            <strong>Favorite Games</strong>
        </h1>
        <div>
            <h2>Favorite RPG Games</h2>
            <p>Final Fantasy (1, 2, Tactics, 7, 8, 9, 10)<br>Legend of Dragoon<br>Knights of the Old Republic (1, 2)<br>Elder Scrolls (Oblivion, Shivering Isles, Morrowind, Skyrim)<br>Diablo (1, 2)</p>
            <div>
                <h2>Favorite Action/Adventure Games</h2>
                <p>Darksiders (1, 2)<br>Metroid Prime 1<br>Legend of Zelda (Ocarina of Time, Majora's Mask)<br>Super Mario 64<br>God of War (1, 2, 3)<br>Dynasty Warriors (4, 5, 6)<br>Samurai Warriors(1, 2)<br>Warriors Orochi(1, 2)</p>
                <div>
                    <h2>Favorite Fighting Games</h2>
                    <p>Mortal Kombat (1, 2, Trilogy, Ultimate, 4, 9, X)<br>Soul Calibur (2, 4, 5)<br>Last Bronx<br>War Gods<br>Super Smash Bros (1, Melee)<br>Dead or Alive 4<br>Tekken Tag Tournament</p>
                    <div>
                        <h2>Favorite Shooter Games</h2>
                        <p>Modern Warfare (1, 2)<br> Halo 3<br>Destiny<br>Counter-Strike</p>
                        <div>
                            <h2>Favorite Moba Games</h2>
                            <p>Dota (1, 2)</p>
                            <div>
                                <h2>Favorite Side Scrollers</h2>
                                <p>Sonic The Hedgehog (1, 2, 3, Sonic and Knuckles)<br>Mario (3, Super Mario RPG)<br>Dust: An Elysian Tail<br>Bastion</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>