@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Home";
}

<style>
    body {
        background-color: #b0c4de;
        border-style: solid;
        border-width: 75px;
    }
</style>
<body>
    <div>
        <h1>
            <strong>Home</strong>
        </h1>
        <div>
            <div>
                <p>Welcome to my website</p>
                <div>
                    <p>This website is dedicated to my accolades and interests as a gamer and programmer</p>
                </div>

            </div>
        </div>
    </div>
</body>
