
@{
    ViewBag.Title = "SoftwareDevelopment";
}
<style>
    body {
        background-color: #b0c4de;
        border-style: solid;
        border-width: 75px;
        
    }
</style>
<body>
    <div>
        <h1>
            <strong>Software Development</strong>
        </h1>
        <div>
            <h2>C#</h2>
            <p>I have a good understanding of C#. I learned how to Object Oriented Program quite well. I have made many projects in C#.</p>
            <p>Here are some projects I've worked on.</p>
            <p>A restaurant managing application I worked on when I first started programming. Restaurant Manager App on GitHub(https://github.com/branzg/Restaurant.git</p>)

            <div>
                <h2>Python</h2>
                <p>I have a good understanding of Python. I can Object Oriented Program, as well as script in Python. I have made many projects in Python.</p>
                <p>Earlier in the course I got put on a team of 4 people and was instructed to make a bot using the Twitter API to read and write Tweets. </p>
                <p>Making the "TwitterBot" was surprisingly fun and proved to be quite easy to get running. TwitterBot on GitHub(https://github.com/etch47/DJJOHNCENA)</p>
                <p>I helped program a lemonade stand with a group of learning developers at DevCodeCamp. It's on the command line, but I think the game actually looks</p>
                <p>nice regardless. Lemonade Stand on GitHub(https://github.com/Amorask/lemonade-stand).I also am a huge fan of gaming. So when I got the chance</p>
                <p>to code my very first RPG? I was estatic. I put a lot of time and effort into it and I think it looks quite great for being command line.</p>
                <p>Knights of Koth- Arenas on GitHub(https://github.com/AaronDeSanctis/RPGPython). Overall I would say Python is a great language and I'm glad</p>
                <p>I took the time to learn it.</p>
                <div>
                    <h2>Html5</h2>
                    <p>I am currently learning Html5. Seems easy enough, but I'm interested in learning much much more.</p>
                    <div>
                        <h2>SQL</h2>
                        <p>I have a basic understanding of SQL. I know how to use tables and columns and how to manipulate them. I could use a lot more work on SQL.</p>
                        <div>
                            <h2>Git Hub</h2>
                            <p>I have many projects in GitHub that are working. Full GitHub Repository(https://github.com/AaronDeSanctis)</p>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>